/* Udacity Introduction to Programming Nanodegree, Stage 1 Project - Eli Weir */

/* Global styles*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

section,
article,
aside,
footer,
header,
nav,
hgroup {
  display:block;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    background-color: #fafafa;
    color: #757575;
}

h1,
h2,
nav {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

p {
    margin: 10px 0;
}

a {
    color : #1976d2;
    text-decoration: none;
}

a:hover {
    color : #2196f3;
}

.max-width {
    max-width: 1200px;
}

.flex {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
}

.left {
    float:left;
    margin: 0 auto 0 0;
}

.right {
    float: right;
}

.underline {
    border-bottom: 1px solid #ddd;
}


/* Header styles */

header {
    border-top: 25px solid #1976d2;
    background-color: #2196f3;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .25);
}

.header-pic {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(5deg);
    margin: auto 30px auto 0;
}

header img {
    border: 10px solid #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .25);
}

header h1 {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 60px 0 5px 20px;
    border: 0;
}

header h2 {
    font-size: 20px;
    font-weight: 300;
    color: #bbdefb;
    margin: 0;
    padding: 5px 0 60px 20px;
}


/* Content styles*/

.notes {
    margin: 50px auto;
}

.toc, .lesson {
    margin: 30px 20px;
    background-color: #fff;
    padding: 20px 20px 25px 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .25);
}

section h1 {
    font-size: 20px;
    padding: 0 0 18px 0;
    margin: 0 0 20px 0;
}

.toc ul {
    margin: 25px 0 0 30px;
}

.toc li{
    font-size: 15px;
    line-height: 30px;
}


.toc .fa-li {
    line-height: 30px;
    top: 0;
    width: 20px;
    left: -20px;
}

.concept {
    margin: 10px;
}

.concept h1 {
    font-size: 15px;
    margin: 40px 10px 15px 10px;
    padding: 0;
    border: 0;
}

.concept p {
    font-size: 15px;
    line-height: 1.5;
    margin: 10px;
    padding: 0;
}

.code {
    font-family: Courier, sans-serif;
    color : #000;
    font-weight: bold;
    padding-left:  4px;
    padding-right: 4px;
}


/* Footer styles */

footer {
    background-color: #f1f1f1;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, .25);
}

.footer-content {
    padding: 30px 20px 30px 20px;
}

footer address {
    float: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color : #757575;
    font-size: 18px;
    margin: 0 auto 0 0;
}

footer nav {
    float:right;
    margin: auto 0 auto 0;
}

footer nav span {
    margin-left: 10px;
}
